<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Pie Charts with Chart.js
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




  <ion-list-header color="light">Simple Pie Chart</ion-list-header>
  
 
  
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>last update  {{date}}</ion-card-subtitle>
      <ion-card-title>Number Cases Per city</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #pieChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-list-header color="light">Simple Doughnut Chart</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>last update  {{date}}</ion-card-subtitle>
      <ion-card-title>Number Cases Per city</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #dnChart></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>