<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Current Statistics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-header style="text-align: center; font-weight: bold;">Tunisian Statistics</ion-card-header>
    <div class="thevirustracker-widget" id="content" data-ccountryid="TN" data-base="ALLDATA" ></div>
  </ion-card>
  <!-- <ion-card>
    <ion-card-header  style="text-align: center;font-weight: bold;"> International Statistics</ion-card-header>

    <div class="thevirustracker-widget" data-ccountryid="ALL" data-base="ALLDATA" ></div>
  </ion-card> -->
  
  

</ion-content>